@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --color-primaria:#7B4AE2;
    --color-segundaria: #201A3F;
    --color-bg:#0C151D;
    --color-terciaria: #171F26;
    --color-cinza:#A3ABB2;
    --color-branca:#FFFFFF;


    --font-principal: 'Poppins', sans-serif;
}

body{
    background-color: var(--color-bg);
    font-size: 14px;
    font-family: var(--font-principal);
    
}

.container{
    padding: 0 1.5rem;
}

.cabecalho{
    margin: 2rem 0;
    display: flex;
    justify-content: flex-end;
}
.inico{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: 100%;
}

.foto_perfil{
    width: 45%;
    border: 4px solid var(--color-primaria);
    border-radius: 50%;
}
.texto_inico{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.texto_inico h2{
    color: var(--color-branca);
    font-size: 32px;
    font-weight: 500;
}

.texto_inico h1{
    color: var(--color-cinza);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
}

.texto_inico p{
    color: var(--color-cinza);
    font-size: 14px;
    font-weight:300;
    line-height: 25px;

}

.social_links{
    display: flex;
    justify-content: center;
    gap: 32px;
    margin: 38px 0;
}

.container_curriculo{
    display: flex;
    gap: 26px;

    
}
.container_curriculo a{
    width: 100%;
    color: var(--color-cinza);
    text-decoration: none;
    font-size: 12px;
    background-color: var(--color-terciaria);
    padding: 13px;
    border-radius: 10px;


}

.container_curriculo a:hover{
    background-color: var(--color-segundaria);
    color: var(--color-branca);


}