@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --color-primaria:#7B4AE2;
    --color-segundaria: #201A3F;
    --color-bg:#0C151D;
    --color-terciaria: #171F26;
    --color-cinza:#A3ABB2;
    --color-branca:#FFFFFF;


    --font-principal: 'Poppins', sans-serif;
}

body{
    background-color: var(--color-bg);
    font-size: 16px;
    font-family: var(--font-principal);
    
}

.container{
    padding: 2rem;
}