@charset "UTF-8";
@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap");
:root {
  --color-primaria:#4db5ff; /*7B4AE2*/
  --color-segundaria: #4db5ff; /*201A3F*/
  --color-terciaria: #222831; /*171F26*/
  --color-bg:#0F0F0F; /*0C151D*/
  --color-cinza:#DDDDDD; /*A3ABB2*/
  --color-branca:#FFFFFF; /*FFFFFF*/
  --font-principal: "Raleway", sans-serif;
}

body {
  margin: auto;
  max-width: 1728px;
  background-color: var(--color-bg);
  font-size: 16px;
  font-family: var(--font-principal);
}

.scroll {
  overflow: hidden;
}

.container {
  padding: 0 1.5rem;
}

.cabecalho {
  margin: 2rem 0;
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 1024px) {
  .cabecalho {
    display: none;
  }
  .container {
    margin: 0 0 0 25vw;
  }
}
/* MENU LATERAL MOBILE */
.menu-navegação {
  display: none;
  overflow: hidden;
  background-color: var(--color-terciaria);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 70vw;
  right: 0;
}
.menu-navegação .close {
  width: 19px;
  padding: 1.8rem 1.5rem;
  position: absolute;
  right: 0;
}
.menu-navegação .navegacao__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 4rem 1rem;
  gap: 1rem;
}
.menu-navegação .navegacao__container .perfil__menu {
  display: flex;
  text-align: center;
  margin-bottom: 1rem;
}
.menu-navegação .navegacao__container .perfil__menu .foto-perfil {
  width: 20vw;
  border: 2px solid var(--color-segundaria);
  border-radius: 50%;
}
.menu-navegação .navegacao__container .perfil__menu .texto_perfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  text-align: left;
  color: var(--color-branca);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}
.menu-navegação .navegacao__container .perfil__menu .texto_perfil h2 {
  padding-bottom: 0;
}
.menu-navegação .navegacao__container .perfil__menu .texto_perfil p {
  font-size: 0.7rem;
  color: var(--color-cinza);
  font-weight: 300;
  line-height: 1rem;
}
.menu-navegação .navegacao__container .link__menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.menu-navegação .navegacao__container .link__menu li {
  text-align: center;
}
.menu-navegação .navegacao__container .link__menu li a {
  font-size: 0.8rem;
  font-weight: 500;
  background-color: var(--color-primaria);
  border-radius: 10px;
  padding: 1rem;
  display: block;
  text-decoration: none;
  color: var(--color-branca);
  text-transform: uppercase;
}

.menuAberto {
  display: block;
}

@media (min-width: 1024px) {
  .menu-navegação {
    display: flex;
    width: 25vw;
    left: 0;
  }
  .menu-navegação .close {
    display: none;
  }
  .menu-navegação .navegacao__container {
    justify-content: center;
    padding: 1rem 2rem;
  }
  .menu-navegação .navegacao__container .perfil__menu {
    flex-direction: column;
    align-items: center;
  }
  .menu-navegação .navegacao__container .perfil__menu .foto-perfil {
    border: 4px solid var(--color-segundaria);
    width: 40%;
  }
  .menu-navegação .navegacao__container .perfil__menu .texto_perfil {
    margin-top: 1rem;
    text-align: center;
    gap: 1rem;
  }
  .menu-navegação .navegacao__container .perfil__menu .texto_perfil h2 {
    font-size: 1.5rem;
  }
  .menu-navegação .navegacao__container .perfil__menu .texto_perfil p {
    font-size: 1rem;
  }
  .menu-navegação .navegacao__container .social_links {
    display: none;
  }
}
/*Pagina Inicio*/
.inico {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  gap: 1rem;
}
.inico .foto_perfil {
  width: 45%;
  border: 4px solid var(--color-primaria);
  border-radius: 50%;
}
.inico .texto_inico {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.inico .texto_inico h2 {
  color: var(--color-cinza);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}
.inico .texto_inico h1 {
  color: var(--color-branca);
  font-size: 32px;
  font-weight: 700;
}
.inico .texto_inico h1 span {
  display: none;
}
.inico .texto_inico p {
  color: var(--color-cinza);
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 25px;
}
.inico .social_links {
  display: none;
}
.inico .container_btn {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 26px;
}
.inico .container_btn .btn_curriculo {
  background: none;
  border: 2px solid var(--color-segundaria);
  color: var(--color-primaria);
}
.inico .container_btn .btn_curriculo path {
  fill: var(--color-primaria);
}
.inico .container_btn a {
  padding: 1rem;
  font-weight: 600;
  width: 100%;
  border: 2px solid var(--color-terciaria);
  color: var(--color-cinza);
  text-decoration: none;
  font-size: 0.8rem;
  background-color: var(--color-terciaria);
  border-radius: 10px;
  margin-bottom: 52px;
}
.inico .container_btn a:hover {
  transition: 1s;
  background-color: var(--color-segundaria);
  color: var(--color-branca);
}
.inico .container_btn a:hover path {
  fill: var(--color-cinza);
}

@media (min-width: 1024px) {
  .inico {
    height: 100vh;
    padding: 0 2rem;
    flex-direction: row;
    text-align: justify;
  }
  .inico .foto_perfil {
    display: none;
  }
  .inico .texto_inico h1 {
    font-weight: 700;
    font-size: 2rem;
  }
  .inico .texto_inico h1 span {
    display: inline;
  }
  .inico .texto_inico h2 {
    font-weight: 600;
    font-size: 18px;
  }
  .inico .texto_inico p {
    font-size: 1rem;
    font-weight: 400;
    padding: 0;
  }
  .inico .social_links {
    display: flex;
    justify-content: flex-start;
  }
  .inico .social_links svg:hover path {
    fill: var(--color-primaria);
    transition: 1s;
  }
  .inico .container_btn a {
    text-align: center;
    padding: 1rem 0;
    margin: 0;
  }
}
.portifolio {
  margin: 2rem auto;
}
.portifolio .cards {
  margin-top: 2rem;
}
.portifolio .cards .card {
  background-color: var(--color-terciaria);
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 1rem;
}
.portifolio .cards .card img {
  width: 100%;
}
.portifolio .cards .card .titulo_links {
  color: var(--color-branca);
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}
.portifolio .cards .card .titulo_links .links img {
  width: 25px;
  height: 25px;
}
.portifolio .cards .card .titulo_links .links img a {
  margin-left: 10px;
}
.portifolio .cards .card p {
  font-size: 0.8em;
  color: var(--color-cinza);
  text-align: justify;
  margin-bottom: 1rem;
}
.portifolio .cards .card ul {
  display: flex;
  gap: 0.5rem;
}
.portifolio .cards .card ul li {
  width: 25px;
  text-align: center;
  align-items: center;
  padding: 0.2em;
  border-radius: 8px;
}
.portifolio .cards .card ul li img {
  width: 20px;
}

@media (min-width: 1024px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}
.social_links {
  color: var(--color-cinza);
  display: flex;
  justify-content: center;
  gap: 32px;
  margin: 1rem 0;
}

.social_links img {
  width: 25px;
}

.section-titulo {
  background-color: var(--color-terciaria);
  color: var(--color-primaria);
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
}

.section-titulos {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  font-size: 0.8rem;
  font-weight: 500;
}

.section-titulos h3 {
  width: 50%;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 10px;
}

.section-titulos .active {
  background-color: var(--color-bg);
}

.container-skills {
  margin: 20px 0;
}

.card-skills {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 1rem;
}

.card-skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 0.7rem;
}

.card-skills ul li {
  color: var(--color-bg);
  font-weight: 800;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  background-color: var(--color-branca);
}

.card-skills ul li span {
  display: none;
}

.card-skills ul li img {
  width: 25px;
}

.certificados li {
  width: 100%;
}

.certificados li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--color-bg);
  font-size: 0.8rem;
}

.certificados li a span {
  display: inline;
}

.certificados ul li a:hover {
  color: var(--color-segundaria);
}

.container-profissional_academico {
  margin-top: 1.5rem;
  display: none;
}

.active {
  display: block;
}

.container-academico {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--color-terciaria);
  border-radius: 16px;
  margin-bottom: 1.5rem;
}

.container-academico h4 {
  font-weight: 500;
  font-size: 0.85rem;
  color: var(--color-primaria);
  margin-bottom: 0.5rem;
}

.container-academico p {
  line-height: 1.5rem;
  color: var(--color-branca);
  font-size: 0.85rem;
  font-weight: 300;
}

.tempo {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  color: var(--color-primaria);
  margin-bottom: 0;
  font-weight: 600;
  font-size: 12px;
}

.tempo p {
  color: var(--color-primaria);
  font-weight: 300;
}

.rodape {
  color: var(--color-cinza);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin: 3.12rem 0;
}

@media (min-width: 1024px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .container-skills {
    display: flex;
    flex-direction: row;
  }
  .card-skills ul {
    justify-content: cen;
  }
  .card-skills ul li {
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.7rem;
  }
  .certificados li {
    width: auto;
  }
  .card-skills ul li span {
    display: flex;
  }
  .card-skills ul li img {
    width: 25px;
  }
  .container_flex {
    display: flex;
    margin: auto;
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
  .container-profissional_academico {
    display: block;
    margin: 2rem;
    width: 50%;
  }
  .section-titulo h3 {
    background-color: transparent;
    margin: 0 1rem;
    font-size: 1rem;
    font-weight: 700;
  }
  .section-titulo .active {
    background-color: transparent;
  }
}/*# sourceMappingURL=styles.css.map */